body{
  background-color: rgb(0, 3, 3);
  flex: auto;
  display: revert;
  justify-items: center;
  color: white;
  
}
div{
    padding-top: 10px;
}
.enviar{
  background-color: greenyellow;
  border-radius: 10px;
}
.enviar:hover{
  background-color: green;
}
.reiniciar{
  background-color: red;
  border-radius: 10px;
}
.reiniciar:hover{
  background-color: crimson;
}